APP_NAME="ระบบบริหารการจัดสอบ"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://pmc-exam.cs.psu.ac.th
ASSET_URL=https://pmc-exam.cs.psu.ac.th

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=pmc-exam
DB_USERNAME=pmc-exam
DB_PASSWORD=pmc-exam

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=database

MAIL_MAILER=log

AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_REDIRECT_URI=https://pmc-exam.cs.psu.ac.th/auth/callback
AZURE_AD_TENANT_ID=

